manifest {
    author = 'Vivek Appadurai | vivek.appadurai@regionh.dk'
    description = 'Impute5 Imputation Pipeline | Vivek.Appadurai@RegionH.dk'
    mainScript = 'main.nf'
}

// Hard-coded paths that might change, depending on cluster/storage

params {
    magma = "/faststorage/project/xdx2/scripts/magma_v1.10/magma"
    snplist = ""
    sumstats = "/faststorage/project/xdx2/data/assoc/iPSYCH2015_EUR_xDx.assoc"
    genelist = "/faststorage/project/xdx2/data/magma/NCBI37.3.gene.loc"
    bfile = "/faststorage/project/xdx2/data/magma/g1000_eur"
    ncol = "N"
    genesets = "/faststorage/project/xdx2/data/magma/genes_set_input_file" 
    window = "35,10"
    out = "Magma.Gene.Out"
    help = ""
}

executor {
    name = 'slurm'
    submitRateLimit = '1 sec'
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    errorStrategy = 'retry'
    maxRetries = 2
}

env {
    NXF_OPTS = "-Xms2g -Xmx4g"
}

process {
    withLabel: mod_mem {
        cpus = 1
        memory = { 20.GB }
        time = '48h'
        clusterOptions = '--account=xdx2'
    }
}

process {
    withLabel: low_mem {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = '8h'
        clusterOptions = '--account=xdx2'
    }
}